$main-background: #FFE19C;
$text-color: #243E36;
$text-font: Tahoma;

.App {
    background-color: $main-background;
    color: $text-color;
    font-family: $text-font;
    
    h1 {
        font-size: 48pt;
    }
}