.Die {
    width: 40px;
    height: 40px;
    border: 3px solid gray;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin: 5px 10px;
    
    p {
        margin-top: 9px;
        font-size: 15pt;
    }
    
    &:hover {
        background-color: #F7EDF0;
    }
    
    &:active {
        background-color: #F4AFAB;
    }
}
